# dependencies
node_modules/

# environment files
.env
.env.*

# build outputs
dist/
build/

# logs
*.log

# Angular
/client/dist/
/client/node_modules/
/client/.angular/cache/

# Express
/backend/node_modules/

# OS / IDE
.DS_Store
.vscode/
.idea/